# Ignore compiled py files
*.pyc
# Ignore ipynb checkpoint files
**/.ipynb_checkpoints
# Ignore test cache files
**/.cache
# Ignore files marked as old
*_old
# Ignore dist directory
dist/
MANIFEST
.DS_Store
# ignore dev notebooks
neurodsp/*_sandbox.ipynb